.main-content {
  text-align: center;
  padding: 30px 200px;
}

@media screen and (max-width: 1000px) {
  .main-content {
    padding: 30px 100px;
  }
}

@media screen and (max-width: 800px) {
  .main-content {
    padding: 30px 50px;
  }
}

.input-div {
  margin: 20px 0px;
}

input {
  padding: 10px 15px;
  background: var(--btn-accent-1);
  color: #fff;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}

.games-container {
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
}

.game-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 15px;
}

.game-card {
  background: var(--btn-accent-1);
  border-radius: 20px;
  width: 200px;
  height: fit-content;
  padding: 15px;
  transition: 300ms;
}

.game-card:hover {
  transform: scale(0.95);
}

.game-card:active {
  transform: scale(1);
}

.title {
  color: #fff;
  text-decoration: none !important;
}
